<h1><%= @post.title %></h1>
<h3><%= @category.name %></h3>
<p><%= @post.content %></p>
<%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %>
<%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-primary" %>
